* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    list-style: none;
}

body {
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;

    .landingBox {
        width: 100%;
        height: 100%;

        .mainBox {
            display: flex;

            width: 100%;
            height: 50%;

            .title {
                width: 800px;
                height: auto;
                color: white;
            }
        }

        .blackBox {
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: rgb(40, 40, 40);

            .title1 {
                display: flex;
                align-items: end;
                justify-content: center;

                font-family: "neuropol";
                color: rgb(240, 240, 240);
                font-size: 80px;
                letter-spacing: 20px;
            }

            .title2 {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                height: auto;
                margin-top: 10px;
                margin-bottom: 40px;
                font-family: "nasa";
/*                 color: rgb(255, 255, 255);
                text-shadow: 0 0 2px rgb(240, 240, 240), 0 0 6px rgb(121, 224, 190), 0 0 15px rgb(121, 224, 190), 0 0 30px rgb(121, 224, 190);
 */                font-size: 34px;
                letter-spacing: 10px;
            }

            .actionBox {
                display: flex;
                align-items: center;
                justify-content: space-between;

                margin-top: 40px;
                width: 500px;
                height: 40px;
                border: 1px solid rgba(128, 128, 128, 0.4);
                border-radius: 8px;

                .button {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    width: 140px;
                    height: 100%;
                    cursor: pointer;

                    .text {
                        position: relative;
                        top: 0;
                        font-family: "nasi";
                        font-size: 11px;
                        color: grey;
                        letter-spacing: 2px;
                        padding: 8px 22px;
                        background-color: rgb(40, 40, 40);
                        border-bottom: 1px solid transparent;
                        transition: 150ms;
                    }

                    &:hover .text {
                        color: white;
                        text-shadow: 0 0 10px cyan;
                        top: -18px;
                        font-size: 14px;
                        border-radius: 8px;
                        border: 2px solid rgba(128, 128, 128, 0.2);
                    }
                }

                .separator {
                    width: 1px;
                    height: 50%;
                    background-color: grey;
                }
            }
        }

        .whiteBox {
            align-items: center;
            flex-direction: column;

            background-color: rgb(240, 240, 240);
            width: 100%;
            height: 50%;

            .title3 {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 500px;
                height: auto;
                margin-top: 20px;

                .text {
                    font-family: "nasa";
                    font-size: 16px;
                    font-weight: lighter;
                    color: rgb(40, 40, 40);
                    letter-spacing: 4px;
                }
            }

            .infoBox {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(1, 1fr);
                gap: 20px;

                width: 70%;
                height: 140px;
                margin-top: 30px;

                .counterCard {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    width: 100%;
                    height: 100%;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    border-radius: 4px;

                    .back {
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        top: 0;
                        width: 100%;
                        height: 100%;
                        font-family: "digi";
                        font-size: 100px;
                        color: rgba(40, 40, 40, 0.2);
                        filter: blur(6px);
                        overflow: hidden;
                    }

                    .front {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;

                        width: 100%;
                        height: 100%;
                        padding: 10px;


                        .title {
                            width: 100%;
                            font-family: "nasa";
                            font-size: 14px;
                            letter-spacing: 4px;
                            color: rgb(160, 160, 160);
                        }

                        .number {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            width: 60%;
                            height: 40px;
                            color: rgb(40, 40, 40);
                            font-family: "digi";
                            font-size: 20px;
                            border-top: 1px solid rgb(210, 210, 210);
                            border-bottom: 1px solid rgb(210, 210, 210);
                        }
                    }
                }
            }
        }
    }
}